# rsync (Home Assistant Addon)

Sync folders to a remote machine via ssh and rsync.

[![Release][release-badge]][release]
![Addon Stage][stage-badge]

{% if channel == "edge" %}
## ⚠ WARNING! THIS IS AN EDGE VERSION!

This Home Assistant Add-on is and bloody edge build.
Edge builds add-ons are based upon the latest development version.

- They may not work at all.
- They might stop working at any time.
- They could have a negative impact on your system.

{% endif %}

[stage-badge]: https://img.shields.io/badge/Addon%20stage-stable-green.svg

[release-badge]: https://img.shields.io/badge/version-{{ version }}-blue.svg
[release]: {{ repo }}/tree/{{ version }}
